<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
   <div style="text-align: center;"><img src="/images/logo-mercado-liebre.svg" width="70%" > </div>


</head>


<body>

    <header>
        <nav>
            <p>Lugar para barra de busqueda </p>
        </nav>
        <nav>
            <p>Comprá en cuotas</p>
        </nav>

        <nav>
            <ul>
                <li><a href="/views/ofertas.html"><strong>Ofertas</strong></a></li>
                <li><a href="/views/tiendasof.html"><strong>Tiendas Oficiales</strong></a></li>
                <li><a href="/views/vender.html"><strong>Vender</strong></a></li>
                <li><a href="/views/ayuda.html"><strong>Ayuda</strong></a></li>
                <br>
                <li><a href="/views/creatucuenta.html"><strong>Creá Tu Cuenta</strong></a></li>
                <li><a href="/views/ingresa.html"><strong>Ingresá</strong></a></li>
                <li><a href="/views/miscrompras.html"><strong>Mis Compras</strong></a></li>
            </ul>
        </nav>
    </header>
    <br>
    <main>
        <nav>
            <ul>
                <li><strong>Sección Basado en tu última visita</strong></li>
            </ul>
            <img src="/images/cafetera.jpg" width="50%">

            <p>
                $6.770
                <br>
                40% OFF
                <br>
                <strong>Cafetera Moulinex</strong>
            </p>

            <img src="/images/macbook.jpg" width="50%">

            <p>
                $230.000
                <br>
                20% OFF
                <br>
                <strong>MacBook Pro 2019</strong>
            </p>

            <img src="/images/samsungs10.jpg" width="50%">

            <p>
                $70.000
                <br>
                10% OFF
                <br>
                <strong>Samsung Galaxy S10</strong>
            </p>

            <img src="/images/smartvsamsung.jpg" width="50%">

            <p>
                $23.200
                <br>
                5% OFF
                <br>
                <strong>Smart Tv Samsung 43"</strong>
            </p>

        </nav>
    </main>
    
    <br>

    <footer>


        <ul>
            <strong>Pagá con tarjeta o en efectivo </strong>

            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                ¡Y siempre es seguro!</p>
        </ul>
        <ul>
            <strong>Envío gratis desde $2.500</strong>
            <p>Solo por estar registra@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </ul>
        <ul>
            <strong>Seguridad, de principio a fin</strong>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            <br>
       <p style="text-align: center;"><i> © 1999-2020 MercadoLiebre S.R.L.</i></p>
        </ul>

    </footer>

</body>


</html>